.main-container {
    height: 100vh;
    background: #007580;
    width: 100%;
    display: flex;
    padding: 20px;
}

.card-1 {
    border-radius: 25px;
    background: #d8ebe4;
    padding: 30px;
    position: relative;
    height: 200px;
    width: 600px;
}

.card-logo {
    border-radius: 15px;
    background: #d8ebe4;
    position: absolute;
    top: 20px;
    left: 20px;
}

.card-logo-content {
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
}

.card-logo-content:hover {
    border-radius: 5px;
    background: #90dabf;
    margin: 10px;
    color: rgb(255, 255, 255);
}

.about {
    display: none;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content {
    width: 500px;
}

.btn {
    background-color: #f9fff9;
}

.prompt {
    padding-bottom: 20px;
}

.white-back {
    background: #d8ebe4;
}

.input-group {
    margin: 0px;
}